@model M307_Project.ViewModels.RepairOrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Repair order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RepairOrder.Firstname" class="control-label"></label>
                <input asp-for="RepairOrder.Firstname" class="form-control" />
                <span asp-validation-for="RepairOrder.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Lastname" class="control-label"></label>
                <input asp-for="RepairOrder.Lastname" class="form-control" />
                <span asp-validation-for="RepairOrder.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Email" class="control-label"></label>
                <input asp-for="RepairOrder.Email" class="form-control" />
                <span asp-validation-for="RepairOrder.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Phone" class="control-label"></label>
                <input asp-for="RepairOrder.Phone" class="form-control" />
                <span asp-validation-for="RepairOrder.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Severety" class="control-label"></label><br />              
                <select asp-for="RepairOrder.Severety" asp-items="Html.GetEnumSelectList<Enums.Severety>()"></select>
                <span asp-validation-for="RepairOrder.Severety" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Tool" class="control-label"></label><br />
                <select asp-for="RepairOrder.ToolId" asp-items="Model.AllTools"></select>
                <span asp-validation-for="RepairOrder.Tool" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Repair end-date</label><br />
                <input disabled id="repairEndDate"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            setNewRepairEndDate("Normal");

            $('#RepairOrder_Severety').change(function () {
                let currentValue = $(this).val();
                setNewRepairEndDate(currentValue);
            });
        });

        function setNewRepairEndDate(severity) {
            let startDate = new Date();
            let endDate;

            switch (severity) {
                case '0':
                    endDate = addDays(startDate, 25);
                    break;
                case '1':
                    endDate = addDays(startDate, 20);
                    break;
                case '3':
                    endDate = addDays(startDate, 10);
                    break;
                case '4':
                    endDate = addDays(startDate, 5);
                    break;
                default:
                    endDate = addDays(startDate, 15);
                    break;
            }

            document.querySelector('#repairEndDate').value = endDate.toLocaleDateString();
        }

        function addDays(date, days) {
            var result = new Date(date);
            result.setDate(result.getDate() + days);
            return result;
        }
    </script>
}
