@model M307_Project.ViewModels.RepairOrderViewModel


<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RepairOrder.Id" />
            <input type="hidden" asp-for="RepairOrder.RepairStartDateTime" />
            <div class="form-group">
                <label asp-for="RepairOrder.Firstname" class="control-label"></label>
                <input asp-for="RepairOrder.Firstname" class="form-control" />
                <span asp-validation-for="RepairOrder.Firstname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Lastname" class="control-label"></label>
                <input asp-for="RepairOrder.Lastname" class="form-control" />
                <span asp-validation-for="RepairOrder.Lastname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Email" class="control-label"></label>
                <input asp-for="RepairOrder.Email" class="form-control" />
                <span asp-validation-for="RepairOrder.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Phone" class="control-label"></label>
                <input asp-for="RepairOrder.Phone" class="form-control" />
                <span asp-validation-for="RepairOrder.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.Severety" class="control-label"></label>
                <select readonly="readonly" asp-for="RepairOrder.Severety" asp-items="Html.GetEnumSelectList<Enums.Severety>()" class="form-control"></select>
                <span asp-validation-for="RepairOrder.Severety" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.RepairState" class="control-label"></label>
                <select asp-for="RepairOrder.RepairState" asp-items="Html.GetEnumSelectList<Enums.RepairState>()" class="form-control"></select>
                <span asp-validation-for="RepairOrder.RepairState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairOrder.ToolId" class="control-label"></label>
                <select asp-for="RepairOrder.ToolId" asp-items="Model.AllTools" class="form-control"></select>
                <span asp-validation-for="RepairOrder.ToolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Repair end-date</label><br />
                <input disabled id="repairEndDate" class="form-control" />
            </div>
            <div class="form-group">
                <recaptcha />
                <span class="text-danger" id="recaptchaErrorMessage"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="/js/site.js"></script>
    <script>
        $(document).ready(function () {
            const repairEndDateTextBox = document.querySelector('#repairEndDate');
            repairEndDateTextBox.value = getNewRepairEndDateForSeverity(document.querySelector("#RepairOrder_Severety").value
                , new Date('@Model.RepairOrder.RepairStartDateTime.ToString("yyyy-MM-ddTHH:mm:ss")')).toLocaleDateString();
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
}